.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a2f5c;
  padding: 10px 20px;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-right a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-right a:hover {
  text-decoration: underline;
}
